<p id="notice"><%= notice %></p>

<h1>Lists</h1>

<%= link_to 'Add a movie list', new_list_path, class: 'btn btn-flat' %>


<% @lists.each do |list| %>
  <%= link_to list_path(list) do %>
    <%= list.name %>
  <% end %>
<% end %>
